@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F1F6F9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7895CB;
    padding: 1rem 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #13111A;
    display: inline-block;
    /* Menjadikan elemen .logo inline-block */
    vertical-align: middle;
    /* Mengatur penempatan vertikal dengan gambar */
}

header .logo img {
    width: 30px;
    /* Ubah nilai ini sesuai dengan ukuran yang Anda inginkan */
    height: auto;
    /* Agar gambar tetap proporsional */
    margin-right: 10px;
    /* Anda dapat menyesuaikan jarak dari teks "TREASURE" */

}

header .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-links li {
    list-style: none;
    margin-left: 2rem;
}

header .nav-links li a {
    font-size: 1rem;
    font-weight: 500;
    color: #13111A;
    text-decoration: none;
}

header .nav-links li a:hover {
    color: #C5DFF8;
}

header .nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a.active {
    background-color: #7895CB;
    /* Warna latar belakang yang berbeda */
    color: #FFF9E9;
    /* Warna teks yang berbeda */
}

/*  Halaman Member */
/* Gaya kartu */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 100px;
}

.card-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    margin-left: 2rem;
}

.card img {
    border-radius: 10px;
}

/* Gaya judul kartu */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

/* Gaya teks dalam kartu */
.card-text {
    font-size: 15px;
}

